<<<<<<< HEAD
.img_small, #places_list .p_img img, .event .event_img, .event .films_img {
=======
/*.img_small, #places_list .p_img img, .event .event_img, .event .films_img {
>>>>>>> origin/master
    filter:
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=45, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=135, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=225, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=315, Strength=3);
    position: relative;
    top: -12px;
    left: -12px;
    zoom: 1;
<<<<<<< HEAD
}
=======
}*/
>>>>>>> origin/master

h1.title, h2.title, h3.title{
    filter:
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=45, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=135, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=225, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#764D91', Direction=315, Strength=3);
    position: relative;
    top: -12px;
    left: -12px;
    zoom: 1;    
}
#footer .more-links a:hover, #footer .more-links a.active{
    filter:
    progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=45, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=225, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=315, Strength=3);
}

#partners_list .partner{
    border: 1px solid #ccc; 
}