/* Demo CSS - You do not need this css in your own slider */
#banner-fade{
	margin-bottom: 60px;
}

ul.bjqs{
	overflow: hidden;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ul li.bjqs-slide img{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
/*	box-shadow: 0 0 20px #764D91;
	-moz-box-shadow: 0 0 20px #764D91;
	-weblit-box-shadow: 0 0 20px #764D91;*/
}

ol.bjqs-markers{
	margin-top: 10px;
	text-align: center;
}

li.bjqs-slide{
	float: left;
	position: relative;
	width: 820px;
}

ol.bjqs-markers li {
	display: inline;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}