* { margin:0; padding:0; outline:none; }
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-spacing:0}

#cap{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0 0;
}

#cap p{
	font-size: 18px;
}

.skype_pnh_logo_img{ display: none; }

.main_blog{
	margin-bottom: 25px; 
}

.main_blog p{
	padding: 0 25px;
	line-height: 20px;
}

.main_blog p span{
	font-size: 16px;
}

.free_price_title{
	position: absolute;
	background: #929292\0/;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 110px;
	text-align: center;
	padding: 5px 0;
	border-radius: 5px 5px 0 0;
	display: none;
	z-index: 999;
}

.event_price{
	/*color: #D10C0C!important;*/
	font-weight: bold;
	font-size: 12px!important;
}

.free_price_title.inside{
	margin: 3px 0 0 8px;
}

.users_login_form{
	padding-top: 50px!important;
}
.archive_title{
	font-size: 14px;
	color: grey;
}

.fbicon {
    background: url(../images/fb-icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.vkicon {
    background: url(../images/vk-icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;

}
.tvicon {
    background: url(../images/tw-icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;


}
.fbicon:hover {
    background-position: 0 -20px;
}

.vkicon:hover {
    background-position: 0 -20px;
}
.tvicon:hover {
    background-position: 0 -20px;
}

.orange_dashed{
	color: #E85700;
	cursor: pointer;
	border-bottom: 1px dotted;
}

.quick_search{
	text-align: justify;
	padding: 0 23px 10px;
}

.quick_search span.active{
	color: #666;
	border: none;
	background: #FFFFAB;
}

.day_cal_event{
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	color: white;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 14px;
	display: none;
}

.quick_search span{
	padding: 1px 3px;
}

.line_separator{

}

#anonsdpua, #footer{
	font: small/190% Tahoma, Geneva, sans-serif;
}

#anonsdpua{
	padding-bottom: 65px;
}

#banner_on_front{
	margin: 0 0 40px 0;
	text-align: center;
}

#calendar.calendar_second_page{
	border-radius: 10px 0 0 10px!important;
	-webkit-border-radius: 10px 0 0 10px!important;
	-moz-border-radius: 10px 0 0 10px!important;
	position: fixed;
	z-index: 999;
	right: -335px;
	top: 50%;
	margin-top: -119px;
}

.FFFFAB{background: #FFFFAB!important;}
.FFFFE5{background: #FFFFE5!important;}

#panel{
	padding: 0!important;
	position: absolute;
	top: 51px;
	width: 15px;
	line-height: 16px;
	text-align: center;
	left: 5px;
	cursor: pointer;
	display: none;
	color: #666;
}

@media (min-resolution: .001dpcm) {
  _:-o-prefocus, #places_list .p_img img {
    opacity: 1!important;
  }
}

.more_info_wrapp{
	float: right;
	width: 200px;
	padding: 15px;
	border: 1px solid #F4E4F4;
	border-right: none;
	margin: 0 0 0 15px;
	background: #FFFFE5;
	border-radius: 7px 0 0 7px;
}

.more_info_wrapp h3{
	margin-bottom: 10px;
	font-size: 16px;
}

.more_info_wrapp p.mg_b5px{ margin-bottom: 5px; }
.more_info_wrapp p.small{ font-size: 11px; }

.vkontakte_comment_wrapper{ 
	margin: 0 auto;
	width: 600px;
	margin-top: 50px;
}

.blog_short_text{ padding: 5px 25px 20px 25px; }
.blog_short_text .color-orang-imp{ color: #E85700!important; }
.wrapp.blog .asm{ border-bottom: none;  background-color: transparent; }
.blog_short_title{ padding: 7px 25px !important; background-color: #FDC8A8!important; }

.wrapp.fix{ height: auto!important }

.large_text{ font-size: 16px; color: #333 !important; text-transform: none!important;}
.blog_text{ padding: 0 100px; }
.orbit-wrapper{
	box-shadow: 0 0 15px #666;
	-moz-box-shadow: 0 0 15px #666;
	-weblit-box-shadow: 0 0 15px #666;
}

.slider_fixed_margin{ margin-bottom: 50px; opacity: 0; }

#banner_on_front img{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
	
}

.has_tooltip{ position: relative }

.p_href.blog{ padding: 7px 50px !important; }

.tooltip {
position: absolute;
top: 30px!important;
left: 30px!important;
padding: 10px 13px;
z-index: 2;
color: #303030;
background-color: #FFFFE5;
border: 1px solid #F4E4F4;
font-family: sans-serif;
font-size: 12px;
line-height: 18px;
text-align: center;
min-width: 150px;
}

html, body { height:100%; color:#666;  }
img, fieldset { border:0; }
h1, h2, h3, h4 { font-family:Verdana; /*font-style:italic;*/ color:#1F1F1F; font-weight:normal; }
h1, h2 { font-size:20px; }
h1 { margin-bottom:.5em; }
th { font-weight:normal; }
a:hover { text-decoration:none; }
a.darklink {color:#333333;}

dt sup{
	vertical-align: super !important;
	margin-left: 5px;
	font-style: italic;
}


html, body {height: 100%;}

body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 100px;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 65px;
}

#footer .fwrapp{
	width: 1200px;
	margin: 0 auto;
}

#wrapper{
	width: 1200px;
	margin: 0 auto;
	font:small/190% Tahoma, Geneva, sans-serif;
	margin-bottom: 45px;
}

#wrapper.event{
	margin-top: 50px;
}

.enter{
	width: 20px;
	height: 48px;
	display: block;
}

.login{
	background: url("../images/login.png") no-repeat center;
}

.rel { position:relative; display:block; }
.inline { display:inline-block; }
.italic { font-style:italic; }
.bold { font-weight:bold !important; }
.small { font-size:.85em; }
.hidden { display:none; }
.hidden_hard { display:none!important; }

#actual{ margin-top: 50px }

.line-normal { line-height:130%; }
.copyright a{color: #666; text-decoration: none;}
.nobr { white-space:nowrap; }
.clearfix:after { content:""; overflow:hidden; height:0; clear:both; display:block; }
.text-normal { font-style:normal; }

.table { width:100%; display:table; }
.caption { display:table-caption; font-family: Verdana!important; }
.tr { display:table-row; }
.td, .table .dates li { display:table-cell; vertical-align:top; //float: left; //clear:right; }
.table .dates li { width:50%; }

.tr.header{
	height: 150px;
}

.color-orang, a { color:#E85700; }
/*.color-orang-imp { color:#E85700 !important; }*/
.color-orang-imp { color:#666 !important; }
.color-pink{ color: #b1439e; }
.color-fiolet { color:#764d91; }
.color-blue { color:#397FA4; }
.color-white { color:white; }
.color-dark { color:#333333; }
.color-gray { color:#666; }
.inherit a { color:#333333; }

.font2 { font-family:Verdana; }
.font3 { font-family:Verdana; }

h1.title, h2.title, h3.title { 
	color:white; 
	text-transform:uppercase; 
	font:14px Verdana; 
	padding: 0.4em 0.8em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; 
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
	display: block;
	width: 220px;
	margin: 0 auto;
	text-align: center;
	border-radius: 4px;
	
}
.title.small { font-size:13px; }
.title.fiolet { background:#764d91; }
.title.orang { background:#E85700; }
.title.gray { background:#9E9E9E; }


body { background:url(../images/colorizing_one.jpg) no-repeat left top; }
.project { /*background:url(../images/colorizing_two.png) no-repeat right top;*/ min-width:1000px; min-height:100%; }

.icons { background-image: url(../images/icons_sprite_32x32_grid.png); background-repeat: no-repeat; display:inline-block; width:10px; height:10px; vertical-align:middle; }
.icons.date { background-position:-12px -12px; }
.icons.message { background-position:-11px -43px; width:11px; }
.icons.details { background-position:-12px -75px; }
.icons.place { background-position:-44px -45px; }


.icons.park, .icons.publicart, .icons.teatre, .icons.paty{
	width: 25px;
	height: 25px;
}

.icons.park{
	background-image: url(../images/park_crop.png) !important;
}

.icons.publicart{
	background-image: url(../images/publicart_crop.png) !important;
}

.icons.teatre{
	background-image: url(../images/theater_crop.png) !important;
}

.icons.paty{
	background-image: url(../images/paty_crop.png) !important;
}

.header{
	background-color: #764D91;
	height: 50px;
	width: 100%;
	box-shadow:  0 0 20px #764D91;
	-moz-box-shadow: 0 0 20px #764D91;
	-weblit-box-shadow: 0 0 20px #764D91;
}

body.fix_toolbar #anonsdpua{ padding-top: 55px; }

body.fix_toolbar .header{
	position: fixed;
	top: 0;
	z-index: 1005;
}

.header .menu{
	width: 1200px;
	margin: 0 auto;	
}

.header .menu ul{
	list-style: none;
	display: block;
	text-align: right;
}

.header .menu ul li{
	display: inline-block;
	margin: 0 10px;
	padding: 0 5px;
	position: relative;
	line-height: 48px;
	border-top: 2px solid transparent;
}

.header .menu ul li.a{
	border-top-color: #E85700!important
}

.header .menu ul li:hover{
	border-top-color: #E85700!important;
}

.header .menu ul li a{
	color: #ccc;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

.header .menu ul li.a a, .header .menu ul li a:hover{
	color: #fff;
}



.header .menu .logo{
	float: left;
}

#search { margin-left:10px; }
#search .what { background:url(../images/search.png) no-repeat left top; position:relative; height:23px; width:175px; display:inline-block; }
#search .what input { border:0; position:absolute; left:25px; top:0; height:100%; width:150px; background:none; line-height:21px; }
#search, #navigation { display:inline-block; vertical-align:top; }
#navigation * { text-indent:-100px; display:block; float:left; overflow:hidden; width:23px; height:17px; margin-left:15px; }
#navigation span { background-color:#CB002D; }
#navigation span.home { background-position:-69px -7px; }
#navigation span.map { background-position:-69px -39px; }
#navigation span.mail { background-position:-69px -71px; }
#navigation a.home { background-position:-37px -7px; }
#navigation a.map { background-position:-37px -39px; }
#navigation a.mail { background-position:-37px -71px; }

#calendar, #search, .main_blog { 
	background:white; 
	background:rgba(255,255,255,.75); 
	position:relative; 
	padding-bottom:15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 330px;
	border:1px solid #F4E4F4;
}

#login {
	margin-top: -20px;
}

#calendar{
	margin: 45px 0 0 0px;
}

#calendar i.shadow, #search i.shadow { position:absolute; left:0; bottom:-17px; width:319px; height:17px; background:url(../images/calendar_shadow.png) no-repeat;}
#calendar > div, #search > div { padding: 20px 0 0 35px; }
#calendar table { width:250px; table-layout: fixed}
#calendar table caption { 
	background:#764d91 url(../images/calendar_spring.png) no-repeat center top; 
	color:white; 
	font-size:17px; 
	text-align:center; 
	position:relative; 
	padding-top:5px; 
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-weblit-border-radius: 0 0 5px 5px;
}
#calendar table caption * { color:white; line-height:35px; text-decoration:none; }
#calendar table caption .arrow { font-size:20px; /*position:absolute;*/ margin:-1px 15px; }
#calendar table caption .arrow.prev { /*left:0;*/ }
#calendar table caption .arrow.next { right:0; }
#calendar tr:first-child td { border:0; }
#calendar td { text-align:center; font-size:13px !important; border-top:1px dashed silver; color:#666; padding-top: 2px;}
#calendar th.hd { color:#CC002C;}
#calendar td a { color:#E85700; }
#calendar td.red a { color:#CC002C; }
#calendar td span.current { color:black; font-weight:bold; outline:2px solid #764d91; padding:4px; background-color: #FFFFE5; }

#calendar .search{
	padding-right: 30px !important;
}

#calendar .search a{
	color: #E85700;
}

#calendar .search a:hover{
	color: white;
	background-color: #764d91;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
}

#calendar2 { margin-left:-60px; position:relative; padding-bottom:25px; }
#calendar2 i.shadow { position:absolute; left:0; bottom:-17px; width:319px; height:17px; background:url(../images/calendar_shadow.png) no-repeat;}
#calendar2 > div { padding:20px 0 0 50px; }
#calendar2 table { width:240px; }
#calendar2 table caption { background:#764d91 url(../images/calendar_spring.png) no-repeat center top; color:white; font-size:17px; text-align:center; position:relative; padding-top:5px; }
#calendar2 table caption * { color:white; line-height:35px; text-decoration:none; }
#calendar2 table caption .arrow { font-size:20px; position:absolute; margin:-1px 10px; }
#calendar2 table caption .arrow.prev { left:0; }
#calendar2 table caption .arrow.next { right:0; }
#calendar2 table caption .month { border-bottom:1px dotted white; }
#calendar2 tr:first-child td { border:0; }
#calendar2 td { text-align:center; font-size:11px; border-top:1px dashed silver; color:#0053A6;}
#calendar2 td.hd { color:#CC002C;}
#calendar2 td a { color:#0053A6; }
#calendar2 td.red a { color:#CC002C; }
#calendar2 td span.current { color:black; font-weight:bold; outline:3px solid #CC002D; padding:3px 6px; }

#menu .block { margin-bottom:50px; margin-right:20px; }
#menu .type { margin-top:10px; }
#menu .type p { padding:.5em; }
#menu .type a { white-space:nowrap; margin:5px; margin-left:0; }
#menu dt:nth-child(even){ background:#eee; }
#menu dt { padding:.5em; margin:10px 0; font-weight:bold; line-height:130%; width:70%; }
#menu dt p { color:gray; }
#menu dt a { color:#3980A4; }

#content {
	position: relative;
	left: 50%;
	margin-left: -500px;
	width: 1050px;
}
#content .block { margin:15px 0; }
.liitem { padding-left: 10px; }    
.liitem li { display:list-item; padding-left: 5px; }

#footer .more-links { 
	padding: 18px 30px 0 30px;
	text-align: center;
	margin-left: 280px;
}
#footer .more-links a { margin-right:10px; padding:3px 6px; color: #E85700 }
#footer .more-links a:hover, #footer .more-links a.active { 
	background:#764d91; 
	color:white; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	-weblit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
}

dl.dotted, .recommended .box{ margin:15px 0;}
dl.dotted.last dt:last-child { border:0; }
dl.dotted dt { border-bottom:1px dashed silver; padding:4px 0; }
dl.dotted dd { text-align:center; padding:3px 0; }
dl.dotted dd.list { text-align:left; color:black; }

.with-border li { border-left:1px dashed silver; padding-left:30px; }
.with-border li:first-child { border:0; padding-left:0; }

div.card { display:inline-block; width:310px; height:170px; padding:1em; margin:10px; white-space:normal; overflow:hidden; }
div.card.man { background:#EAF2F5; }
div.card.woman { background:#FCEFF1; }
div.card .image { float:left; margin:10px 15px 0 0; }
div.card .text { line-height:180%; }

img.space-left { float:left; margin:0 1em 1em 0; }
h2 + .clearfix { margin-top:10px; }

div.congrat { position:relative; margin-bottom:15px; margin-right:30px; padding:1em 1.5em; background:#FFF3F6; font-size:11px; line-height:180%; border:1px solid #FFDAE5; }
div.congrat:after { position:absolute; width:36px; height:64px; background:url(../images/balloons.png) no-repeat; content: ""; left:-25px; top:-10px; }
div.congrat:first-letter { font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; background:#CC002C; color:white; padding:0 .2em; margin:.2em; margin-left:0; vertical-align:middle; }

div.pagenator { padding:15px 0; margin:15px -30px; text-align:center; background:#eee; border:1px dashed silver; border-left:0; border-right:0; font-size:14px; }
div.pagenator a { margin:5px; color:#0052A5; vertical-align:top; }
div.pagenator .arrow { text-decoration:none; font-size:18px; }
div.pagenator span { color:black; border:3px solid #CC002C; padding:0 .2em; font-weight:bold; }
.arr_html {display:inline; font-size:18px; color:#0052A5; vertical-align:top; margin:5px;  text-decoration:none; font-family: Arial;}


td.hasEvents a{
	font-weight: bold;
	text-decoration: none;
}

td.hasEvents a:hover{
	outline:1px solid #E85700;
	padding: 4px;
	background-color: #FFFFE5;
}

td.hasEvents .current a:hover{
	outline:none !important;
	padding: 0px !important;
}

#footer {
	background-color: #FFFFE5;
	border-top: 1px solid #F4E4F4;
	width: 100%;
	margin: 10px 0 0;
	
}

a.post_img {
	box-shadow: 1px 1px 1px #ddd; 
	-moz-box-shadow: 1px 1px 1px #ddd; 
	-webkit-box-shadow: 1px 1px 1px #ddd; 
	border:1px solid #e2dfdf; 
	background:#fff;
	display:block; 
	margin-bottom:10px; 
	padding:8px; 
	float:left;
	text-decoration: none;
	line-height: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.post_img img{
	width:200px;
	height: 135px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

a.post_img_sm {
	box-shadow: 1px 1px 1px #ddd; 
	-moz-box-shadow: 1px 1px 1px #ddd; 
	-webkit-box-shadow: 1px 1px 1px #ddd; 
	border:1px solid #e2dfdf; 
	background:#fff;
	display:block; 
	margin-bottom:10px; 
	padding:8px; 
	float:left;
	text-decoration: none;
	line-height: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.post_img_sm img{
	width:150px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.clearfix{
	display: block;
}

.clearer{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.center{
	margin: 0 54px;
}

.copyright{
	width: 200px;
	margin: 10px 0 0 20px;
}

.copyright p{
	line-height: 20px;
}

.upcoming{
	width: 380px;
}



div.search{
	padding: 0 0px 0 20px !important;
	text-align: center;
}

div.search a{
	text-decoration: none;
	padding: 5px 10px;
	color: #777;
}

div.search a:hover{
	color: #E85700; 
}

div.search a span{
	border-bottom: 1px dashed;
}

div.search a:hover span{
	border-bottom: none;
}

.comment-column{
	width: 260px;
	margin-left: 20px;
}

.comment-column .comment{
	background-color: #FFFFE5;
	border: 1px solid #F4E4F4;
	padding: 1em;
	line-height: 14px;
	font-size: 11px;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 165px;
}

.comment-column.clear{
	width: auto !important;
	margin-left: 0!important;
}

.comment-column .comment a.event{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.comment-column .comment p{
	color: #333;
	font-size: 10px;
	margin-bottom: 5px;
}

.marginRB20px{margin:0 20px 20px 0;}


/*CENTER ALIGMENT*/
.align_center {
	position: relative;
	width: 100%;
}

.align_center:after {
	content: '';
	display: block;
	clear: both;
}

.align_center_to_left {
	position: relative;
	right: 50%;
	float: right;
}

.align_center_to_right {
	position: relative;
	z-index: 1;
	right: -50%;
}
/*-end aligment-*/

.who{
	margin: 0 0 0 10px;
	color: #333;
	width: 200px;
	height: 165px;
	/*overflow: hidden;*/
}

.who .date{
	margin: 0;
	padding: 0;
	font-size: 14px !important;
	line-height: 14px;
}

.who .date span{
	color: #b1439e;
	font-size: 20px !important;
}

.who .href a{
	font-size: 16px!important;
	/*font-style: italic;*/
	text-align: left;
	line-height: 18px;
}

.who .addr{
	
}

.line{
	height: 1px;
	width: 100%;
	margin: 10px 0;
}


.dashed{
	border-bottom: 1px dashed silver;
}


.recommended .info{
	width: 250px;
	padding-right: 5px;
}

.clear{
	padding: 0;
	margin: 0;
	width: 100%;
}


.img_small{
	max-width: 120px;
	border-radius:7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
	width: 110px;
	height: 160px;
}

.img_small_my{
	border-radius:7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.comment.justify{
	text-align: justify;
}

.justify .img_small{
	margin-right: 8px;
	/*max-width: 130px;*/
}

.justify .who p.date, #places_list p.date{
	text-transform: lowercase;
	color: #b1439e;
}

.justify .who{
	color: #666;
}

.w230px{ width: 230px; }

.justify .who u, .p_info u{
	color: #333;
	text-decoration: none;
	margin: 3px 0;
	display: block;
	font-size: 13px;
	text-align: left;
	/*background: url(../images/icon_place.gif) no-repeat 0px 2px;
	padding-left: 17px;*/
}


#search{
	margin: 45px 0 45px 0;
}

#search h3, #login h3, .main_blog h3{
	margin-top: 20px;
	margin-bottom: 15px;
}

#search form, #login form{
	padding: 0 20px;
	text-align: center;
}


#search form label{
	display: inline-block;
	pading: 0;
	margin: 5px 0 0;
}

#search form select{
	width: 250px;
}

#search div.button{
	margin-top: 30px;
}

div.button, .place_go.button{
	color: #000; 
	text-transform:uppercase; 
	font:12px Georgia, "Times New Roman", Times, serif; 
	padding: 0.3em 0.5em;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	box-shadow: 0 0 4px #764D91;
	-moz-box-shadow: 0 0 4px #764D91;
	-weblit-box-shadow: 0 0 4px #764D91;
	text-align: center;
	width: 100px;
	margin: 0 auto;
   background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #764D91),color-stop(1, white));
    background-image: -moz-linear-gradient(center bottom, #764D91 0, white 100%);
    background-image: -o-linear-gradient(center bottom, #764D91 0, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ADFF00');
    cursor: pointer;
  margin-left: 15px;
}

div.button, .cinema_go.button{
    color: #000;
    text-transform:uppercase;
    font:12px Georgia, "Times New Roman", Times, serif;
    padding: 0.3em 0.5em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 4px #764D91;
    -moz-box-shadow: 0 0 4px #764D91;
    -weblit-box-shadow: 0 0 4px #764D91;
    text-align: center;
    width: 100px;
    margin: 0 auto;
 /*
    background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #F8F8CC),color-stop(1, white));
    background-image: -moz-linear-gradient(center bottom, #F8F8CC 0, white 100%);
    background-image: -o-linear-gradient(center bottom, #F8F8CC 0, white 100%); */
   background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #764D91),color-stop(1, white));
    background-image: -moz-linear-gradient(center bottom, #764D91 0, white 100%);
    background-image: -o-linear-gradient(center bottom, #764D91 0, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ADFF00');
    cursor: pointer;
}

div.button.image{
	width: 140px;
	margin: 0!important;
}

.user_go {
	background: url(../images/going.gif) no-repeat;
	width: 40px;
	height: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: black;
	line-height: 14px;
	margin: 0 0 0 10px;
	position: absolute;
}

.user_like {
	background: url(../images/like.png) no-repeat;
	width: 40px;
	height: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: black;
	line-height: 14px;
	margin: 0 0 0 10px;
	position: absolute;
}

.place_go {
	font-weight: bold!important;
}

.cinema_go {
    font-weight: bold!important;
}

.event_go.button.disabled, .cinema_go.button.disabled, .cinema_go.button {
	width: 130px;
}

/*EVENT*/
.event #login{
	margin: 0;
}

.event .upcoming{
	width: 100%;
}

.event .wrapp{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #F4E4F4;
	margin: 0 10px 0 0px;
	height: 100%;
	padding: 10px 0 0;
	background-color: white;
	background-color: rgba(255, 255, 255, .75);
	line-height: 18px;
	position: relative;
}
.event #places_list:after{
    display: block;
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
}

.event .right{
	width: 330px;
}

.event .wrapp.no_result{
	background-image: url(../images/no_search.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.event .event_title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	/*color: #E85700;*/
	color: #666;
	margin: 25px 0 30px 0;
}

.event .event_text{
	text-align: justify;
	margin-top: 10px;
	height: auto;
	overflow: hidden;
	padding-right: 20px;
}

.event .event_info{
	height: auto;
}

.img_wrapp{
	width: 350px;
	height: 430px;
	vertical-align: middle;
	text-align: center;
	display: inline;
}

.event .time{
	font-size: 16px;
	color: #764d91;
}

.event .time{
	/*text-transform: lowercase;*/
}

.event .place .cinema a{
	font-size: 16px;
}


.event .event_info{

}

.event .titl{
	color: #000;
	margin-top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
}

.event .event_go, .places .place_go .cinema .cinema_go, .event .place_go{
	color: black;
	position: relative;
	top: -5px;
	padding: 3px 15px;
	font-weight: bold;
	margin-left: 55px;
	display: inline-block;
}

.event .place_go{
	margin-left: 15px;
}

.event .place_go.disabled{
	width: 130px;
}

.event .event_img, .event .films_img{
	max-width: 350px;
	border-radius:7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
	margin: 0 30px 0px 0;
}

.event .event_day{
	background: url(../images/day.png) top center;
	width: 71px;
	height: 39px;
	position: absolute;
	margin-top: -15px;
	border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.event .event_cat{
	position: absolute;
	width: 100%;
	text-align: right;
	z-index: 900;
	right: 35px;
	top: 10px;
}

.event .e_day{
	color: #fff;
	display: block;
	text-align: center;
	position: relative;
	top: 8px;
	font-size: 16px;
}

.event .e_month{
	color: #fff;
	display: block;
	text-align: center;
	position: relative;
	top: 3px;
	text-transform: lowercase;
}

.maps{
	font-size: 10px;
	text-decoration: none;
	border-bottom: 1px dashed #E85700;
}

.maps:hover{
	border-bottom: none;
}

.related_event_title{
	font-size: 14px;
	margin: 20px 0;
	font-weight: bold;
	text-align: center;
}



.related_event{
     float: left;
     border: 1px solid #F4E4F4;
     background: white;
     background: rgba(255, 255, 255, .75);
     border-radius:5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     margin: 0 20px 40px 20px;
     height: 330px;
     width: 250px;
     text-align: center;
 }
.related_films{
    height: auto!important;
    float: left;
    border: 1px solid #F4E4F4;
    background: white;
    background: rgba(255, 255, 255, .75);
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 20px 40px 20px;
    width: 250px;
    text-align: center;

}

.related_event img{
	width: 200px;
	padding: 10px;
}

.related_event .r_title{
	border-bottom: 1px solid #F4E4F4;
	padding: 5px;
	background: #FFFFE5;
	text-align: center;
	width: 240px;
}

.related_event p{
	line-height: 16px;
}

.block{
	display: block;
}


#google_maps{
	height: 400px;
	width: 100%;
	margin: 15px 0;
}

#google_maps_partner{
	height: 600px;
	width: 100%;
	margin: 15px 0;
}

#google_maps.hide{
	height: 0px!important;
}
#videos{
    left: 29%;
    position: relative;
}
#videos.hide{
    display: none!important;
}

.disable{
	color: #ccc!important;
}

.letters_box{
	padding: 15px 0 0 0;
}

.letters{
	display: block;
	margin: 5px auto;
	width: 735px;
}

.letters li{
	display: block;
	margin: 0 2px;
	padding: 2px 4px;
	border: 1px solid #666;
	min-width: 12px;
	float: left;
	text-align: center;
	color: #ccc;
}

.letters li.hse{
	background-color: #FFFFE5;
	cursor: pointer;
}

.letters li.hse.activ{
	background-color: #FDFD52;
}

.letters li.hse.activ a{
	color: #000;
}

.letters li a{
	text-decoration: none;
}


#places_list{
	/*margin: 25px 0;*/

}

#places_list a{
	/*text-decoration: none;
	color: #666;*/
}

#places_list .place_line{
	margin: 10px 0;
	width: 770px;
}

#places_list .p_img{
	float: left;
	width: 22%;
	text-align: center;
}

#places_list .p_img img{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; 
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;
	margin-top: 3px;
	/*opacity: 0.80;
	filter:alpha(opacity=80);*/
}

#places_list .p_info{
	float: left;
	width: 60%;
}

#places_list .p_info span{
	font-size: 16px;
}

#places_list .p_info p a{
	color: #E85700;
	text-decoration: underline;
}

#places_list .p_info p a:hover{
	text-decoration: none;
}

#places_list .p_info h2{
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 3px;
}

#places_list .p_cat{
	text-align: right;
	padding-right: 10px; 
}

#places_list .p_href{
	cursor: pointer;
	padding: 7px;
}


#cinemas_list{
    /*margin: 25px 0;*/
}

#cinemas_list a{
    text-decoration: none;
    color: #666;
}

#cinemas_list .cinema_line{
    margin: 10px 0;
    width: 770px;
}

#cinemas_list .p_img{
    float: left;
    width: 22%;
    text-align: center;
}

#cinemas_list .p_img img{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 7px #764D91;
    -moz-box-shadow: 0 0 7px #764D91;
    -weblit-box-shadow: 0 0 7px #764D91;
    margin-top: 3px;
    opacity: 0.80;
    filter:alpha(opacity=80);
}

#cinemas_list .p_href:hover .p_img img{
    opacity: 1;
    filter:alpha(opacity=100);
}

#cinemas_list .p_info{
    float: left;
    width: 60%;
}

#cinemas_list .p_info span{
    font-size: 16px;
}

#cinemas_list .p_info p a{
    color: #E85700;
    text-decoration: underline;
}

#cinemas_list .p_info p a:hover{
    text-decoration: none;
}

#cinemas_list .p_info h2{
    font-size: 18px;
    line-hieght: 18px;
    margin-bottom: 3px;
}

#cinemas_list .p_cat{
    text-align: right;
    padding-right: 10px;
}

#cinemas_list .p_href{
    cursor: pointer;
    padding: 7px;
}


.pointer{
	cursor: pointer;
}

#toggle{
	position: absolute;
	z-index: 999;
}

#toggle span.act{
	color: #E85700;
	border-bottom: 1px dashed #E85700;
	cursor: pointer;
}

#toggle span.act:hover{
	border-bottom: none;
}

#toggle span.non_act{
	color: #666;
}

#pag_number{
	margin: 25px 0;
	text-align: center;
}

#pag_number span{
	border: 1px solid #666;
	padding: 2px 4px;
	margin: 0 2px;
	background-color: #FFFFE5;
	cursor: pointer;
}

#pag_number span.activ, #pag_number span:hover{
	background-color: #FDFD52;
	color: #000;
}

input#text, .auth{
	width: 243px;
	color: #666;
	border: 1px solid #CCC;
	padding: 2px 3px;
}

.auth {
	margin-top: 15px;
}

sup{
	vertical-align: super;
	font-size: 10px;
	margin-left: 5px;
}

.sup-1{
	color: #8612D5;
}

.sup-2{
	color: #D55C12;
}

.no_result{
	padding: 25px 0;
	text-align: center;
	font-size: 18px;
	color: #666;
}

#set_dates{
	margin-top: 10px;
	display: none;
}

#date_from, #date_to{
	background-color: #EBEBE4;
	border: 1px solid #CCC;
	padding: 2px 3px;
	width: 88px;
}

h1.ttl{
	padding: 25px 0 15px 0;
	text-align: center;
}

#social_nets{
	/*padding-right: 55px;*/
}

#social_nets a{
	margin-right: 8px;
}

#social_nets a img{
	background-image: url(../images/panel.png);
}




/*DIALOG*/
.dialog {
    -moz-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
    -webkit-box-shadow:0 0 5px #000;
    background: url(../images/dialog/bg.png) repeat;
    color: #fff;
    display: none;
    padding: 20px;
    position: fixed;
    z-index:9999;
}

.dialog_text{
	padding:10px 10px 10px 40px;
	font-size:12px;
	font-family: arial;
}

.dialog_error{
	background: url(../images/dialog/_error.png) no-repeat center left;
}

.dialog_info{
	background: url(../images/dialog/_info.png) no-repeat center left;
}

#login .error{
	text-align: center;
	color: red;
	padding: 10px 0;
}

#uLogin {
	text-align: center;
	margin-top: 15px;
}


#login .user_block {
	padding-bottom: 15px;
}

#login .hello {
	color: #333;
	text-align: center;
}

#login .user_info {
	color: #666;
}

.main_event{
	width: 380px;
	padding: 15px 5px 5px 15px;
}

.recommended{
	margin-left: -350px;
	width: 100%;
}

.wrp{
	margin: 0 10px 0 350px;
}

.recommended .box {
	margin: 0 auto;
}
.recommended h2, .recommended h1{
	width: 440px;
}

.ghj{
	font-size: 13px;
}

.top-20px{
	margin-top: 25px;
}

.asm, .asm_all{
	background-color: #FFFFE5;
	border-top: 1px solid #F4E4F4;
	border-bottom: 1px solid #F4E4F4;
}

.asm.last{
	border-bottom: none!important;
}

.item .wrapp {
	padding: 0 25px 25px 25px;
}

.item .wrapp.fix_right_padding {
	padding: 0 0px 25px 25px!important;
}

.highlight { background-color: yellow }

.line-through{
	text-decoration: line-through;
}

#top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#top nobr{
	color: #45688E;
	font-weight: bold;
	font: 12px tahoma, arial, verdana, sans-serif, Lucida Sans;
	padding: 5px 10px;
	background-color: #FFFFAB;
	border: 1px solid #F4E4F4;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.footer_raiting{
	/*background: url("../images/raiting_bg.png") no-repeat;*/
	width: 90px;
	height: 14px;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
	position: absolute;
	margin: 45px 0 0 47px;
}

.fix_scroll{
	overflow-y: scroll;
}


/*MY*/
.my .calendar{ z-index: 999; }

.my_map {
	height: 500px;
	width: 60%;
}

#tabs{
	margin-bottom: 50px;
}

#tabs.filters{
	margin-left: 40px;
}

#tabs ul{
	list-style: none;
	display: block;
	margin: 25px 0;
}

#tabs.filters ul{
	margin: 15px 0;
}

#tabs ul li{
	cursor: pointer;
	display: inline;
	margin: 0px 20px 0 0;
	padding: 5px 10px;
	background-color: #FFFFDA;
	border: 1px solid #F4E4F4;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

#tabs ul li.active{
	background-color: #FFFFAB;
	color: #333;
}

#tabs ul li.label{
	background: none !important;
	border: none;
	cursor: default;
}

#tabs ul li.last, .last{
	float: right;
	margin: 0!important;
}

.box_input{
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}

.box_input span.default{
	position: absolute;
	left: 5px;
	top: 3px;
	text-align: left;
}

.box_input input{
	padding: 3px 5px;
	float: left;
}

.centerer{
	margin: 0 auto;
	width: 630px;
	padding-left: 75px;
}

#login div.left{
	float: left;
}

#login div.center{
	margin-top: 40px;
}

.error_user{
	text-align: center;
	color: red;
	margin-top: 20px;
}

.cat_checkbox{
	text-align: left;
}

.cat_checkbox div{
	width: 130px;
}

.cat_checkbox.first{
	margin-left: 30px;
}

.ulogin_title{
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
	color: #000!important;
}

.tab .line_box{
	height: 30px;
	cursor: pointer;
}

.tab .place_events, .tab .line_box{
	border-bottom: 1px solid #ccc;
}

.tab .my_place_events{
	width: 1050px;
	padding: 30px 0 0;
	margin: 0 auto;
}

.tab .my_place_events .empty_events{
	padding-bottom: 30px;
}

.tab .my_place_event{
	margin: 0px 15px 25px;
}

.tab .my_place_event img{
	max-width: 120px;
}

.tab .line_box:hover{
	background-color: #FFFFDA;
}

.tab .line_box span{
	line-height: 30px;
}

.tab div.icons{
	display: inline;
	width: 200px;
	text-align: right;
}

.tab .date{
	width: 75px;
	display: inline-block;
}

.tab .time{
	width: 60px;
	display: inline-block;
}

.tab .place {
	font-size: 10px;
}

.tab .cinema {
    font-size: 10px;
}

.tab .line_box span.img{
	display: inline;
}

.tab .my_place_event p{
	text-align: center;
}

.tab .place_button{
	display: inline-block;
	float: right;
}

.tab .place_button span{
	border-bottom: 1px dotted #E85700;
	color: #764d91;
	margin-left: 30px;
}

/*ADD EVENT*/

.price_changer_box{
	margin-top: 40px;
}

.price_changer_box div{
	height: 35px;
	display: inline;
	cursor: pointer;
}

.price_changer{
	padding: 3px 5px;
	padding: 5px 10px;
	background-color: #FFFFDA;
	border: 1px solid #F4E4F4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 35px;
}

.price_changer.active{ background-color: #FFFFAB; color: #333; }

.row1 .my_event_add{
	float: left;
	height: 55px;
	padding: 0 6px 0 0;
	width: 250px;
}

.row1-1 .my_event_add{
	float: left;
	padding: 0 6px 0 0;
	width: 250px;
}

.row1 .my_event_add label, .row1-1 .my_event_add label{
	color: #333;
	display: block;
	padding: 0 0 6px;	
}

.row1 .my_event_add span.default, .row1-1 .my_event_add span.default{
	position: absolute;
	color: #999;
	margin: 5px 0 0 8px	
}

.my_event_add span.red{
	color: red;
}

.row1 .my_event_add input, .row1-1 .my_event_add input{
	border: 1px solid #B1BED0;
	padding: 5px 0 5px 9px;
	height: 16px;
	float: left;
	width: 230px;
}

.row1-1 .my_event_add select{
	border: 1px solid #B1BED0;
	padding: 5px 0 5px 9px;
	height: 200px;
	width: 240px;
}

.row1 .my_event_add select{
	float: left;
	width: 240px;
	border: 1px solid #B1BED0;
	padding: 0 0 0 5px;
	height: 28px;
	color: #999;
}

.my_event_add .datepicker, .my_event_add select{
	height: 20px;
}

.my_event_add .datepicker{
	padding: 0 0 0 6px;
	width: 88px;
}

.my_event_add .calendar_img{
	margin-right: 5px;
}

.my_event_add .fiw_span{
	display: inline-block;
	width: 150px;
}

.my_event_add .admintable div p{
	padding: 5px 0;
}

#tabss-2 select[name=day]{
	width: 123px;
}

.redactor_content_wrapp{
	margin-top: 50px;
}

.under{
	width: 100%;
	display: inline-block;
}

table.admintable td { padding: 3px; }

.calendar_img{
	border: 1px solid #CCC;
	font-size: 11px!important;
	color: black;
	cursor: default;
	background: #EFEFEF;
	font-family: arial,verdana,sans-serif!important;
	vertical-align: top;
	margin: 1px 0 0 5px;
	padding: 2px;	
}

.row3{
	width: 300px;
	display: inline-block;
	height: 25px;
	overflow: hidden;
}

#block_for_image{
	position: absolute;
	top: 100px;
	right: 30px;
	height: 430px;
	width: 300px;
}

.row3 .loader{
	background: url("../images/load.gif") no-repeat;
	width: 62px;
	height: 13px;
	margin-left: 10px;
	display: none;
}

.times{
	color: #666;
	font-size: 12px;
}

.slider_wrapper{
	width: 200px;
	float: right;
	margin: 5px 310px 0 0;
}

.time_display{
	position: relative;
	float: right;
	display: inline;
}

.time_display_search{
	display: inline;
}

#time_from_text{
	left: -30px;
}
#time_to_text{
	left: 285px;
}

#ie{
	display: none;
	margin: 0 auto;
}

.incvisition{
	background: url(../images/incvisition.jpg);
	width: 987px;
	height: 375px;
}

.post_load{
	width: 110px;
	height: 160px;
	background-color: transparent;
}

.slider_search_wrapper {
	width: 150px;
	display: inline-block;
	padding: 0 15px;
}

.main #anonsdpua{
	/*background: url(../images/fon_new.png) no-repeat center 120px;*/
	background: url(../images/banner/fon_winter.png) no-repeat center 120px;
}

#banner{
	background: url(../images/banner/banner_winter.png);
	width: 691px;
	height: 324px;
	margin: 0 0 50px 90px;
}

.success{
	color: green;
	font-size: 110%;
	text-align: center;
}

.static{
	font-size: 14px;
	padding-top: 25px;
	width: 940px;
	text-align: justify;
	margin: 0 auto;
}

.static p{
	padding: 5px 0;
}

.time_date_slider_wrapper{ margin-top: 25px; }

.events_search_empty{
	text-align: center;
	margin: 50px 0;
	font-size: 16px;
}

.events_search_empty a{
	color: #E85700 !important;
	text-decoration: underline;
}
#places_list .twocolum{
    cursor: pointer;
    padding: 7px;
    width: 580px;
    height: 170px;
    float: left;
    background-color: #FFFFFF!important;
    border-top: 0px!important;
    border-bottom: 0px!important;
}
.a_demo_two {
 background-color:#764D91;
 font: 14px Verdana;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 5px;
 padding-top: 5px;
 position:relative;
 text-decoration:none;
 color:#fff;
 background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
 box-shadow: inset 0px 1px 0px #55346B, 0px 6px 0px #55346B;
 border-radius: 5px;
}

.a_demo_two:active {
 top:7px;
 background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
 box-shadow: inset 0px 1px 0px #55346B, inset 0px -1px 0px #55346B;
 color:#fff;
 text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
 
}
.a_demo_two::before {
 font: 14px Verdana;
 background-color:#764D91;
 color:#fff;
 content:"";
 display:block;
 position:absolute;
 width:100%;
 height:100%;
 padding-left:2px;
 padding-right:2px;
 padding-bottom:4px;
 left:-2px;
 top:5px;
 z-index:-1;
 border-radius: 6px;
 box-shadow: 0px 1px 0px #fff;
}

.a_demo_two:active::before {
 top:-2px;
}

#partners_list{
	margin: 50px 0 25px 0;
}

#partners_list .partner{
	cursor: pointer;
	float: left;
	margin: 0 10px 50px 15px; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 7px #B2A8B9;
	-moz-box-shadow: 0 0 7px #B2A8B9;
	-weblit-box-shadow: 0 0 7px #B2A8B9;
	display: inline-block;
	width: 200px;
	height: 100px;
}

#partners_list .partner:hover{
	box-shadow: 0 0 7px #764D91;
	-moz-box-shadow: 0 0 7px #764D91;
	-weblit-box-shadow: 0 0 7px #764D91;	
}

#partners_list .partner img{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


#qrcode{
	float: right;
}

@media (max-width: 1200px){
	body.fix_toolbar .header{
		position: absolute;
		width: auto;
	}

	#footer{
		width: auto;
	}

	.calendar_second_page, #top, #tabs.filters, #qrcode{ display: none	}
}

/*--*/

/*
#764d91 - fiolet
#E85700 - orang
#CD0089 - pink
#FAF6FF - pink-bg
#F4E4F4 - pink-border
#757575 - gray
#b1439e - pink from ticket
*/