Header set X-Message "Hi competitors :)"
Header set X-Powered-By "ninja 80+ level"

<filesMatch "\.(jpg|png|jpeg|gif)$">
Header set Cache-Control "max-age=2592000, public, must-revalidate"
</filesMatch>

<filesMatch "\.(css|js)$">
Header set Cache-Control "max-age=864000, public, must-revalidate"
</filesMatch>

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

RewriteRule ^(.*)&post=.*$ $1 [R=301,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

#RewriteRule ^(.*\.(css|js)\?[0-9]+)$ $1 [L]
